@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row" id="rootElement">
    <div class="container-fluid h-100 center-block">
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group text-center">
                            <img src="~/images/apple-icon.jpeg" class="card-img-top" alt="..." style="width: 20%;">
                            <h5 class="text-center font-up font-bold">
                                Login
                            </h5>
                        </div>
                        <div class="form-group">
                            <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="User email" type="text" v-model="dataModel.userNameOrEmail">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Password" type="password" v-model="dataModel.password">
                        </div>
                        <div class="form-group text-center">
                            <a href="/Account/Register">Registrar</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-lg btn-block" v-on:click="saveUser()">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section OwnScript{
    <script src="~/js/user/login.js"></script>
}

