@{
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="sidebar" data-color="green" data-background-color="white" data-image="~/assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
            <img src="~/images/apple-icon.jpeg" width="20%"/>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
            Inversiones M&C
        </a>
    </div>
    <div class="sidebar-wrapper" id="menuElement">
        <v-menu :menu-options="menuOptions" :current-controller="@controllerName" :current-action="@actionName"></v-menu>
    </div>
</div>