
@{
    ViewData["Title"] = "Clientes";
    ViewData["CurrentLocation"] = "Formulario de clientes";
}

<div class="row" id="customer">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Formulario de cliente</h4>
                <p class="card-category">Complete los datos del cliente</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Tipo de identificación</label>
                                <select name="customers" class="browser-default custom-select" v-model="dataModel.identificationType">
                                    <option value="CED">Cédula</option>
                                    <option value="PASS">Pasaporte</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">No. Identificación</label>
                                <input type="text" class="form-control" v-model="dataModel.identification">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Fecha de nacimiento</label>
                                <input type="date" class="form-control" v-model="dataModel.birthDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Nombre</label>
                                <input type="text" class="form-control" v-model="dataModel.name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Apellido</label>
                                <input type="text" class="form-control" v-model="dataModel.lastName">
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Celular</label>
                                <input type="text" class="form-control" v-model="dataModel.mobilePhone">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Teléfono</label>
                                <input type="text" class="form-control" v-model="dataModel.phoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Dirección</label>
                                <input type="text" class="form-control" v-model="dataModel.address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Ciudad</label>
                                <input type="text" class="form-control" v-model="dataModel.city">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">País</label>
                                <input type="text" class="form-control" v-model="dataModel.country">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success pull-right"  v-on:click="saveCustomer">Guardar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
@section OwnScript{
    <script src="~/js/customer/insert.js"></script>
}