
@{
    ViewData["Title"] = "Index";
    ViewData["CurrentLocation"] = "Clientes";
}

<div class="row">
    <div class="col-md-12">'
        <a class="btn btn-primary pull-right" href="/Customer/CustomerForm/">
            Crear Cliente
        </a>
    </div>
</div>
<div class="row" id="rootElement">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Lista de clientes</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Fecha de nacimiento
                                </th>
                                <th>
                                    Celular
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Dirección
                                </th>
                                <th>
                                    Identificación
                                </th>
                            </tr>
                        </thead>
                        <tbody v-if="customers">
                            <tr v-for="item in customers">
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.lastName}}
                                </td>
                                <td>
                                    {{dateHelper.formatWithMoment(item.birthDate)}}
                                </td>
                                <td>
                                    {{item.mobilePhone}}
                                </td>
                                <td>
                                    {{item.phone}}
                                </td>
                                <td>
                                    {{addressHelper.format(item.addresses)}}
                                </td>
                                <td>
                                    {{item.identifications[0].value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section OwnScript{
    <script src="~/js/util/DateHelper.js"></script>
    <script src="~/js/util/AddressHelper.js"></script>
    <script src="~/js/customer/index.js"></script>
}
