
@{
    ViewData["Title"] = "Index";
    ViewData["CurrentLocation"] = "Clientes";
}

<div class="row">
    <div class="col-md-12">'
        <a class="btn btn-success pull-right" href="/Customer/CustomerForm/">
            Crear Cliente
        </a>
    </div>
</div>
<div class="row" id="rootElement">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title ">Lista de clientes</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-success">
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Fecha de nacimiento
                                </th>
                                <th>
                                    Celular
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Dirección
                                </th>
                                <th>
                                    Identificación
                                </th>
                                <th>
                                    Opcion
                                </th>
                            </tr>
                        </thead>
                        <tbody v-if="customers">
                            <tr v-for="item in customers">
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.lastName}}
                                </td>
                                <td>
                                    {{dateHelper.formatWithMoment(item.birthDate)}}
                                </td>
                                <td>
                                    {{item.mobilePhone}}
                                </td>
                                <td>
                                    {{item.phone}}
                                </td>
                                <td>
                                    {{addressHelper.format(item.addresses)}}
                                </td>
                                <td>
                                    {{item.identifications[0].value}}
                                </td>
                                <td v-on:click="setCurrentItem(item.id)" style="cursor: pointer;">
                                    <a data-toggle="modal" data-target="#deleteCustomer">Borrar Cliente<i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteCustomer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dialogo de confirmacion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Esta seguro de  que desea borrar al cliente?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" v-on:click="deleteCustomer()">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section OwnScript{
    <script src="~/js/util/DateHelper.js"></script>
    <script src="~/js/util/AddressHelper.js"></script>
    <script src="~/js/customer/index.js"></script>
}
